@model DreamJob.ViewModels.HomeViewModel

@if (Model.Authentifie)
{
    Response.Redirect("/");
}
else
{
    <h3>
        Se connecter
    </h3>
    <p>Se connecter vous permet d'ajouter des filtres de recherche personnalisés ainsi que de retrouver vos offres favorites !</p>
    using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Utilisateur.Prenom)
            @Html.TextBoxFor(m => m.Utilisateur.Prenom, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Utilisateur.Prenom)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Utilisateur.MotDePasse)
            @Html.PasswordFor(m => m.Utilisateur.MotDePasse, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
        </div>
        <br />
        <input type="submit" value="Se connecter" class="btn btn-primary"/>
        <br /><br />
        @Html.ActionLink("Créer un compte", "CreerCompte", new object { }, new { @class = "create-account" })
    }
}