@model DreamJob.ViewModels.HomeViewModel

<table>
    <tr>
        <th>Created</th>
        <th>Title</th>
        <th>Contenu</th>
        <th>Source</th>
        <th>Favoris</th>
        <th></th>
    </tr>
    @{
        if (Model.ListeDesArticles.Any() )
        { 
            foreach (var article in Model.ListeDesArticles)
            {
                <tr>
                    <td> @article.created.ToString("le d MMM yyyy")</td>
                    <td><a href=@article.link target="_blank">@article.title</a></td>
                    <td>@article.body</td>
                    <td> @article.source</td>
                    <td> <button type="button" name="favori" value="Enregistrer cette annonce" onclick="location.href='@Url.Action("Favorise", "Home")?id=@article.id'" />Favori</td>
                    <td> </td>
                </tr>
            }
        }
    }
</table>
