@model DreamJob.ViewModels.HomeViewModel

<p class="info-message">@Model.InfoMessage</p>

<table>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Contenu</th>
        <th>Source</th>
        <th>Favori</th>
    </tr>
    @{
        if (Model.ListeDesArticles.Any() )
        { 
            foreach (var article in Model.ListeDesArticles)
            {
                <tr>
                    <td>@article.created.ToString("le d MMM yyyy")</td>
                    <td><a href=@article.link target="_blank">@article.title</a></td>
                    <td>@article.body</td>
                    <td>@article.source</td>
                    <td><span class="favori fa fa-star" data-id="@article.id"></span></td>
                </tr>
            }
        }
    }
</table>