@model DreamJob.ViewModels.HomeViewModel
@{
    <script src="~/scripts/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

    <h1>DreamJob</h1>
    <hr />
   <div class="col-md-3">

    <h3>Filtres de recherche</h3>
    <hr />
    @{
        if (Model.ListeDesTags.Any())
        {
            <button id="all-offers" class="btn btn-primary">Toutes les offres</button>

            foreach (var tag in Model.ListeDesTags)
            {
                <br />
                if (Model.Authentifie)
                {
                    var tagsUserIds = Model.ListeDesTagsUtilisateur.Select(u => u.id_tag);

                    if (tagsUserIds.Contains(tag.id))
                    {
                        <label for="@tag.label">@tag.label</label>
                            <input type="checkbox" id="@tag.label" name="tags" value="@tag.label" checked />
                    }
                    else
                    {
                        <label for="@tag.label">@tag.label</label>
                            <input type="checkbox" id="@tag.label" name="tags" value="@tag.label" />
                    }
                }
                else
                {
                    <label for="@tag.label">@tag.label</label>
                        <input type="checkbox" id="@tag.label" name="tags" value="@tag.label" />
                }
            }
        }
        else
        {
            <p>Il n'y a pas de filtres de recherche.</p>
        }
        <hr />
        if (Model.Authentifie && Model.ListeDesCustomTags.Any())
        {
            <h3>Mes filtres personnalisés</h3>

            foreach (var customTag in Model.ListeDesCustomTags)
            {
                <label for="@customTag.label">@customTag.label</label>
                    <input type="checkbox" id="@customTag.label" name="tags" value="@customTag.label" checked />
            }
        }
    }
</div>


<div class="col-md-9">
    <h2>Offres d'emploi</h2>
    <div>
        <label for="radio-pertinence">Pertinence</label>
        <input type="radio" id="radio-pertinence" name="sort" value="pertinence" checked>
        <label for="radio-date">Date</label>
        <input type="radio" id="radio-sort" name="sort" value="date">
        <span id="sort-asc" class="fa fa-sort-asc fa-2x"></span>
        <span id="sort-desc" class="fa fa-sort-desc fa-2x"></span>
    </div>
    <div>
        <label for="date-range">Âge de l'article (en mois)</label>
        <input type="range" min="1" max="6" id="date-range" value="3" /> <span id="range-result"></span>
    </div>
    <div id="offers">
        @{
            Html.RenderAction("AfficheOffres");
        }
    </div>
</div>



    <script>

        var tags = document.getElementsByName('tags');
        var allOffersBut = document.getElementById('all-offers');
        var radioSortButs = document.getElementsByName('sort');
        var sortAsc = document.getElementById('sort-asc');
        var sortDesc = document.getElementById('sort-desc');
        var sortMode = "pertinence";
        var sortDirection = 'asc';
        var dateRange = document.getElementById('date-range');
        var rangeResult = document.getElementById('range-result');
        var favoris = "";
        var favori = "";
        var range = 0;

        radioSortButs[0].checked = true;
        document.getElementById('sort-asc').style.display = "none";
        document.getElementById('sort-desc').style.display = "none";
        range = dateRange.value;
        rangeResult.innerHTML = dateRange.value + " mois";

        updateOffers();

        for (var i = 0, l = tags.length; i < l; i++)
            tags[i].addEventListener("change", updateOffers, false);

        for (var i = 0, l = radioSortButs.length; i < l; i++)
            radioSortButs[i].addEventListener("change", function() {
                sortMode = this.value;
                if (sortMode != "date") {
                    document.getElementById('sort-asc').style.display = "none";
                    document.getElementById('sort-desc').style.display = "none";
                } else {
                    document.getElementById('sort-asc').style.display = "inline-block";
                    document.getElementById('sort-desc').style.display = "inline-block";
                }

                updateOffers();
            });

        allOffersBut.addEventListener("click", allOffers, false);

        sortAsc.addEventListener("click", function (e) {
            sortDirection = 'asc';
            updateOffers();
        });

        sortDesc.addEventListener("click", function (e) {
            sortDirection = 'desc';
            updateOffers();
        });

        dateRange.addEventListener('change', function () {
            range = dateRange.value;
            rangeResult.innerHTML = dateRange.value + " mois";
            updateOffers();
        });

        function setFavori(e) {

            favori = this.getAttribute("data-id");
            updateOffers();
        }

        function updateOffers(e) {

            disableCheckboxes(true);

            var filterValues = [];

            for (var i = 0, l = tags.length; i < l; i++)
                if (tags[i].checked) filterValues.push(tags[i].value);

            if (filterValues.length == 0) filterValues = null;
            else filterValues = JSON.stringify(filterValues);

            console.log("Valeurs de filtrage", filterValues);
            console.log("Tri par date", sortDirection);
            console.log("Favori", favori);
            console.log("Sortmode", sortMode);
            console.log("Range", range);

            $.ajax({
                url: '@Url.Action("AfficheOffres")',
                type: 'GET',
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                data: {
                    tags: filterValues,
                    sortMode: sortMode,
                    sortDirection: sortDirection,
                    favori: favori,
                    range: range
                },
                success: function (result) {
                    $('#offers').html(result);
                    disableCheckboxes(false);
                    refreshFavoris();
                }
            });
        }

        function allOffers(e) {

            for (var i = 0, l = tags.length; i < l; i++)
                tags[i].checked = false;

            updateOffers();
        }

        function refreshFavoris() {

            favoris = document.querySelectorAll('.favori');
            favori = "";
            for (var i = 0, l = favoris.length; i < l; i++)
                favoris[i].addEventListener("click", setFavori, false);
        }

        function disableCheckboxes(bool) {

            for (var i = 0, l = tags.length; i < l; i++)
                tags[i].disabled = bool;
        }
    </script>
    </body>
    </html>

